## Web scrapping de IMDB

In [18]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

# Download IMDB's Top 250 data
url = 'http://www.imdb.com/chart/top'

,movie_title,year,place,star_cast,rating,vote,link
0,Cadena perpetua,1994,1,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",9.220086937930727,None,/title/tt0111161/
1,El padrino,1972,2,"Francis Ford Coppola (dir.), Marlon Brando, Al...",9.147355884254592,None,/title/tt0068646/
2,El padrino: Parte II,1974,3,"Francis Ford Coppola (dir.), Al Pacino, Robert...",8.980081220514458,None,/title/tt0071562/
3,El caballero oscuro,2008,4,"Christopher Nolan (dir.), Christian Bale, Heat...",8.970803734877,None,/title/tt0468569/
4,12 hombres sin piedad,1957,5,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",8.936241387241546,None,/title/tt0050083/
...,...,...,...,...,...,...,...
245,Fanny y Alexander,1982,246,"Ingmar Bergman (dir.), Bertil Guve, Pernilla A...",8.021987108222715,None,/title/tt0083922/
246,Neon Genesis Evangelion: The End of Evangelion,1997,247,"Hideaki Anno (dir.), Megumi Ogata, Megumi Haya...",8.021553071161161,None,/title/tt0169858/
247,Drishyam,2013,248,"Jeethu Joseph (dir.), Mohanlal, Meena",8.021135627267235,None,/title/tt3417422/
248,Soul,2020,249,"Pete Docter (dir.), Jamie Foxx, Tina Fey",8.021023506607449,None,/title/tt2948372/
249,Amanecer,1927,250,"F.W. Murnau (dir.), George O'Brien, Janet Gaynor",8.019031572112112,None,/title/tt0018455/